# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
dist.zip
/dist-ssr
/tmp
/out-tsc

# dependencies
/node_modules
*.local
# yarn.lock
# package-lock.json
# pnpm-lock.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs and editors
/.idea
*.suo
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.ntvs*
*.njsproj
*.sln
*.sw?
.eslintcache

# IDE - VSCode
.vscode/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
