/dist/*
.local
.output.js
/node_modules/**

**/*.svg
**/*.sh
**/*.yml
**/*.svg
.png
.npmrc.template
.gitmodules
*.png

/public/*
test/*
build/*

yarn.lock
package-lock.lock
yarn-error.log
pnpm.lock

*.sh
*.snap
.gitignore
.npmignore
.prettierignore
.DS_Store
.editorconfig
.eslintignore
